# üß™ Module 1: Python Code Exercise with Case Studies and Fix Explanations
**Topic:** Detecting and Fixing Software Faults

## üìò What This Module Is About

This module helps you identify and fix software faults in Python code‚Äîspecifically **errors**, **defects**, and **failures**. Faults can occur at any stage of the software lifecycle and cause real-world issues such as crashes or incorrect results.

### ‚ùì Why This Is Important
Software faults are not just bugs‚Äîthey represent flaws in logic, understanding, or execution that can cause significant damage if left unchecked. Learning to catch and correct them early is a foundational skill in Software Quality Assurance (SQA).

## üéØ Objective
Detect and correct software faults through real-world-inspired examples and case studies.

## üß† Examples with Case Studies, Fixes, and Explanations

### Example 1: Assignment Instead of Comparison (Error)

**Case Study:** A junior developer was asked to write a function that checks if a number is zero. However, they mistakenly used `=` instead of `==`, resulting in a syntax error during execution.

In [1]:
def is_zero(n):
    if n = 0:
        return True
    return False

print(is_zero(3))

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (2016196659.py, line 2)

‚úÖ **Fix:**

In [2]:
def is_zero(n):
    if n == 0:
        return True
    return False

print(is_zero(3))

False

**Explanation:** The original code used the assignment operator `=` instead of the comparison operator `==`. In Python, `=` assigns values, while `==` checks equality. Using `=` inside a condition causes a syntax error.

### Example 2: Division by Zero (Failure)

**Case Study:** A product rating system divided the total score by the number of reviews. When there were no reviews, the app crashed due to division by zero.

In [3]:
def average_rating(total_score, reviews):
    return total_score / reviews

print(average_rating(85, 0))

ZeroDivisionError: division by zero

‚úÖ **Fix:**

In [4]:
def average_rating(total_score, reviews):
    if reviews == 0:
        return 'No reviews yet'
    return total_score / reviews

print(average_rating(85, 0))

No reviews yet

**Explanation:** The issue was that division by zero is not allowed in Python. The fix checks if `reviews` is zero before performing the division, returning a fallback message instead.

### Example 3: Type Mismatch (Defect)

**Case Study:** A function to compute total cost accepted user input from a form as a string. It failed to convert it to a numeric type, leading to a TypeError.

In [5]:
def total_cost(price, quantity):
    return price * quantity

print(total_cost("100", 2))

100100

‚úÖ **Fix:**

In [6]:
def total_cost(price, quantity):
    return float(price) * quantity

print(total_cost("100", 2))

200.0

**Explanation:** Since `price` was a string, multiplying it by an integer caused unintended string repetition. Converting `price` to a float fixed the issue and ensured numeric behavior.

### Example 4: Logic Error in Loop (Error)

**Case Study:** An algorithm was supposed to find the highest test score, but instead returned the lowest due to incorrect comparison logic.

In [7]:
def max_score(scores):
    max_val = 0
    for score in scores:
        if score < max_val:
            max_val = score
    return max_val

print(max_score([45, 80, 67]))

0

‚úÖ **Fix:**

In [8]:
def max_score(scores):
    max_val = scores[0]
    for score in scores:
        if score > max_val:
            max_val = score
    return max_val

print(max_score([45, 80, 67]))

80

**Explanation:** The original logic compared using `<` instead of `>`, resulting in tracking the minimum value. The corrected version uses `>` and initializes with the first item.

### Example 5: Off-by-One Indexing (Error)

**Case Study:** In a function to print elements of a list, an off-by-one error caused the program to crash when it accessed an index out of range.

In [9]:
def print_items(items):
    for i in range(len(items)):
        print(items[i+1])

print_items(['a', 'b', 'c'])

b
c

IndexError: list index out of range

‚úÖ **Fix:**

In [ ]:
def print_items(items):
    for i in range(len(items)):
        print(items[i])

print_items(['a', 'b', 'c'])

**Explanation:** Accessing `i+1` on the last index leads to an IndexError. The corrected code simply accesses `items[i]`, which stays within bounds.

## üìù Try It Yourself: Student Exercises

### Exercise 1
**Task:** Fix the missing operand in the return statement.

In [10]:
def multiply(a, b):
    return a *

print(multiply(3, 4))

SyntaxError: invalid syntax (1238712160.py, line 2)

### Exercise 2
**Task:** Correct the use of `=` where a comparison is expected.

In [11]:
def greet(name):
    if name = "":
        return "Hello, Guest!"
    return f"Hello, {name}"

print(greet(""))

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (3065255334.py, line 2)

### Exercise 3
**Task:** Correct the typo in the variable name to avoid a NameError.

In [ ]:
def circle_area(radius):
    return 3.14 * radius * radus

print(circle_area(5))

### Exercise 4
**Task:** Fix the loop to ensure all values are included in the sum.

In [ ]:
def total(lst):
    sum = 0
    for i in range(1, len(lst)):
        sum += lst[i]
    return sum

print(total([1, 2, 3, 4]))

### Exercise 5
**Task:** Avoid runtime error from dividing by zero.

In [ ]:
def divide(a, b):
    return a / b

print(divide(10, 0))